<!-- Header -->
<header class="bg-success py-3 mb-3">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">Analysis Ingredients</h1>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-md-8 mb-5">
      <!-- <h2>Enter receipe to analyse</h2>
      <hr> -->
      <div class="content row" >
        <div class="col-sm-2 label">Title</div>
        <div class="col-sm-10"><input type="text" class="form-control mb-3 border-success" disabled [(ngModel)]="receipeData.title"/></div>
        <div class="col-sm-2 label">Prep</div>
        <div class="col-sm-10"><input type="text" class="form-control mb-3 border-success" disabled [(ngModel)]="receipeData.prep"/></div>
        <div class="col-sm-2 label">Yield</div>
        <div class="col-sm-10"><input type="text" class="form-control mb-3 border-success" disabled [(ngModel)]="receipeData.yield"/></div>
        <div class="col-sm-2 label">Ingredients</div>
        <div class="col-sm-10"><textarea class="form-control mb-3 border-success" [ngClass]="{'border-danger': submitted && !ingredientsText}" aria-label="With textarea" rows="12" [(ngModel)]="ingredientsText"></textarea></div>
        <div class="col-sm-12" style="color: red;" *ngIf="submitted && !ingredientsText">Please enter Ingredients</div>
        <div class="col-sm-12">
          <button class="btn btn-success btn-lg" (click)="save()" [disabled]="submitted && !ingredientsText">{{loading ? 'Loading...' : 'Analyse'}}</button>
          <button class="btn btn-success btn-lg ml-3" (click)="viewSummary()" *ngIf="dataService.nutritionData?.totalNutrientsKCal">View Summay Breakdown</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <h2 style="text-align: center;">Analysis Result</h2>
      <hr>
      <table class="table">
        <tbody>
          <tr *ngFor="let item of dataService.nutritionData?.totalNutrientsKCal | keyvalue">
            <td>{{item.value?.label}}</td>
            <td>{{item.value?.quantity | number:'1.0-2'}} {{item.value?.unit}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
